.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 90%;
  height: 75vh;
  transition: background-color 0.3s;
  background-image: url("https://seatingchartmaker.app/static/1218e838127bfff3b59fae734d21d5c8/3d469/pairs.jpg");
  background-size: 100% 100%;
  position: relative;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #111010;
  border-radius: 0.5em;

  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.icon {
  color: red;
  font-size: 18px;
}
.icon:hover {
  color: green;
  cursor: pointer;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
}

.input {
  width: 72px;
  border-radius: 0.5em;
  font-size: small;
  background-color: black;
  border: none;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}
