.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 90%;
  height: 80vh;
  transition: background-color 0.3s;
  background-image: url("https://seatingchartmaker.app/static/1218e838127bfff3b59fae734d21d5c8/3d469/pairs.jpg");
  background-size: auto;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #111010;
  border-radius: 0.5em;

  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

/* .drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
} */
